*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    padding: 20px;
    background-color: #010d42;
}
h1, h3{
    margin-bottom: 10px;
    font-family:"Oswald", sans-serif;
    color: #ff0000;
    margin-left: 15px;
}
h2{
    margin-bottom: 0px;
    font-family: "Oswald", sans-serif;
    color: #ff0000;
    margin-left: 15px;
    font-size: 30px;
    margin-top: 10px;
}
h2 #inicio, h2 #biografia, h2 #legado, h2 #devoção, h2 #milagres, h2 #fotos{
    margin-bottom: 0px;
    font-family: "Oswald", sans-serif;
    color: #ff0000;
    margin-left: 0px;
    font-size: 40px;
}
h3 #conectado, h3 #caridade, h3 #ultimos, h3 #resumo{
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
    color: #ff0000;
    font-size: 15px;
}

img{
  width: 100%;   
  height: 700px; 
  display: block;
  object-fit: cover;
}
.container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}

.texto {
  flex: 1; 
}

.imagem img {
  max-width: 250px; 
  height: auto;    
  border-radius: 8px; 
  margin-left: 800px;
  margin-right: 80px;
}
.galeria {
  display: flex;        
  gap: 15px;            
  justify-content: center; 
}

.galeria img {
  width: 200px;         
  height: auto;       
  object-fit: cover;     
  border-radius: 10px; 
}

p{
    margin-bottom: 10px;
    color: #ffee00;
    font-family: "Fira Sans", sans-serif;
    margin-left: 15px;
}
header {
    background: #010d42;
    padding: 8px 20px;          
    display: flex;
    align-items: center;       
    justify-content: space-between;
}

header img {
    width: 300px;   
    height: auto;
    margin: 0;
}
  

nav a {
    color: #ffee00;
    text-decoration: none;
    margin-left: 15px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
nav {
    margin: 0; 
}
nav a:hover {
    color: #ff2424;  
}
body {
  margin: 0; 
  padding: 0;
}